/* Universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Smooth scrolling effect */
html {
    scroll-behavior: smooth;
}

/* Customized scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #5c5b5b;
}
::-webkit-scrollbar-thumb:hover {
    background: #2c2b2b;
}