#space_before_CONTACT{
    height: 65px;
    background-color: rgb(248, 247, 246);
}

#contact{
    display: grid;
    justify-content: center;
    background-color: rgb(248, 247, 246);
}

#contact_title_h2{
    font-size: 50px;
    text-align: center;
    color: #5ca49b;
}

#get_in_touch_container{
    display: flex;
    justify-content: center;
}

#get_in_touch{
    width: 71vw;
    text-align: center;
    margin-top: 35px;
    line-height: 2;
    font-size: large;
    color: rgb(56, 55, 55);
}

#contactAndEmailAndAddress{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    font-size: 18px;
    color: #448d83;
}

#contact-phone{
    width: fit-content;
}

#contact-email{
    width: fit-content;
}

#contact_iconHoler{
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 35px;
    margin-bottom: 30px;
    text-align: center;
}

#contact_iconHoler ul{
    margin: 0;
    padding: 0;
}

#contact_iconHoler ul li{
    list-style: none;
    display: inline-block;
}

#contact_iconHoler ul li a{
    position: relative;
    width: 95px;
    height: 95px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .2s;
}

#contact_iconHoler ul li a:hover{
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

#contact_iconHoler ul li a .fa{
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(95px - 12px);
    font-size: 40px;
    color: #262626;
    transition: .5s;
}

#contact_iconHoler ul li:nth-child(1) a:hover .fa{
    color: #0077B5;
}

#contact_iconHoler ul li:nth-child(2) a:hover .fa{
    color: black;
}

#contact_iconHoler ul li:nth-child(3) a:hover .fa{
    color: #55acee;
}

#contact_iconHoler ul li:nth-child(4) a:hover .fa{
    color: darkred;
}

#contact_iconHoler ul li:nth-child(5) a:hover .fa{
    color: #e4405f;
}

#end_wish{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 17px;
}

/* Adding responsiveness */
@media (max-width:967px){
    #contactAndEmailAndAddress{
        gap: 30px;
        font-size: 16px;
    }
}

@media (max-width:890px){
    #contactAndEmailAndAddress{
        flex-direction: column;
        align-items: center;
        margin-top: 35px;
    }
    
}

@media (max-width:676px){
    #contact_iconHoler{
        display: flex;
        flex-wrap: wrap;
    }
    #contact_iconHoler ul li a
    {
        width: 75px;
        height: 75px;
    }
    #contact_iconHoler ul li a .fa
    {
        line-height: calc(75px - 12px);
        font-size: 30px;
    }
}

@media (max-width:536px){
    #contact_iconHoler{
        display: flex;
        justify-content: center;
    }
    #contact_iconHoler ul
    {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        row-gap: 25px;
        column-gap: 35px;
    }
    #contact_iconHoler ul li a
    {
        width: 70px;
        height: 70px;
    }
    #contact_iconHoler ul li a .fa
    {
        line-height: calc(70px - 12px);
        font-size: 30px;
    }
}

@media (max-width:496px){
    #get_in_touch{
        font-size: 16px;
    }
    #contact_iconHoler ul
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 25px;
        column-gap: 35px;
    }
    #end_wish{
        text-align: center;
        margin-top: 40px;
        margin-bottom: 50px;
        font-size: 17px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width:360px){
    #contactAndEmailAndAddress{
        font-size: 14px;
    }
    #contact_iconHoler ul li a
    {
        width: 65px;
        height: 65px;
    }
    #contact_iconHoler ul li a .fa
    {
        line-height: calc(65px - 12px);
        font-size: 28px;
    }
}

@media (max-width:272px){
    #contactAndEmailAndAddress{
        font-size: 13px;
    }
    #contact_iconHoler ul
    {
        row-gap: 25px;
        column-gap: 27px;
    }
    #contact_iconHoler ul li a
    {
        width: 60px;
        height: 60px;
    }
    #contact_iconHoler ul li a .fa
    {
        line-height: calc(60px - 12px);
        font-size: 25px;
    }
}