*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#space_before_PROJECTS{
    height: 68px;
    background-color: #242b37;
}

#projects{
    background-color: #242b37;
}

#projects_section_container{
    display: grid;
    justify-content: center;
}

#projects_section_container h2{
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
}

#projectCards_1_2{
    display: flex;
    width: fit-content;
    max-width: 100vw;
    gap: 70px;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 35px;
}
#projectCards_3_4{
    display: flex;
    width: fit-content;
    max-width: 100vw;
    gap: 70px;
    justify-content: center;
    margin-bottom: 35px;
}

#projectCards_5{
    display: flex;
    width: fit-content;
    max-width: 100vw;
    gap: 70px;
    justify-content: center;
    margin-bottom: 70px;
}

#zee5_clone, #OnlineShopping_App, #covid19_vaccination_app, #datamonit_topdog_app, #brightline_clone{
    border: 1.5px solid #92bcb5;
    width: 38vw;
    text-align: center;
    color: white;
    background-color: #26323b;
    border-radius: 7px;
}

.project_title{
    margin-bottom: 10px;
    margin-top: 5px;
}

.project_img_div{
    height: 22vw;
    width: 100%;
    margin-bottom: 10px;
}

.project_img{
    margin-bottom: 5px;
    height: 100%;
    width: 95%;
}

.project_desc{
    margin-bottom: 8px;
    margin-right: 3px;
    margin-left: 3px;
    line-height: 1.3;
}

.tech_stack{
    margin-bottom: 8px;
}

.members_days{
    margin-bottom: 8px;
}

.project_buttons{
    margin-bottom: 7px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.source_code_btn, .live_btn{
    height: 35px;
    font-size: 16.5px;
    font-weight: bold;
    padding-right: 7px;
    padding-left: 7px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 7px;
    transition: all ease .3s;
    border: none;
}

.source_code_btn:hover, .live_btn:hover{
    cursor: pointer;
    background: #242b37;
    border: 1px solid #92bcb5;
    color: white;
    transform: scale(1.1);
}

/* Adding responsiveness */
@media (max-width:860px){
    #projectCards_1_2, #projectCards_3_4, #projectCards_5{
        display: grid;
    }
    #zee5_clone, #OnlineShopping_App, #covid19_vaccination_app, #datamonit_topdog_app, #brightline_clone{
        width: 70vw;
    }
    .project_img_div{
        height: 30vw;
    }
}
@media (max-width:382px){
    #zee5_clone, #OnlineShopping_App, #covid19_vaccination_app, #datamonit_topdog_app, #brightline_clone{
        width: 80vw;
    }
    .project_img_div{
        height: 37vw;
    }
}
@media (max-width:305px){
    #zee5_clone, #OnlineShopping_App, #covid19_vaccination_app, #datamonit_topdog_app, #brightline_clone{
        width: 85vw;
    }
    .project_img_div{
        height: 40vw;
    }
    .project_desc{
        font-size: 15px;
    }
    .members_days{
        font-size: 15px;
    }
    .source_code_btn, .live_btn{
        height: 30px;
        font-size: 15px;
    }
}