*{
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    font-family: sans-serif;
}
#projects_section_container{
    display: grid;
    justify-content: center;
}
#projectCards_1_2{
    display: flex;
    width: fit-content;
    max-width: 100vw;
    gap: 35px;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 35px;
    /* padding-left: 40px;
    padding-right: 40px; */
}
#projectCards_3{
    display: flex;
    width: fit-content;
    max-width: 100vw;
    gap: 35px;
    justify-content: center;
    /* margin-top: 40px; */
    margin-bottom: 70px;
}

#brightline_clone{
    border: 1.5px solid #92bcb5;
    width: 44vw;
    text-align: center;
    color: white;
    background-color: #26323b;
    border-radius: 7px;
    /* display: grid;
    align-items: center; */
}

#zee5_clone{
    border: 1.5px solid #92bcb5;
    width: 44vw;
    text-align: center;
    color: white;
    background-color: #26323b;
    border-radius: 7px;
}

.project_title{
    margin-bottom: 10px;
    margin-top: 5px;
}

.project_img_div{
    height: 22vw;
    width: 100%;
    margin-bottom: 10px;
}

.project_img{
    margin-bottom: 5px;
    height: 100%;
    width: 95%;
}

.project_desc{
    margin-bottom: 8px;
    margin-right: 3px;
    margin-left: 3px;
    line-height: 1.3;
}

.tech_stack{
    margin-bottom: 8px;
}

.members_days{
    margin-bottom: 8px;
}

.project_buttons{
    margin-bottom: 7px;
}

.source_code_btn, .live_btn{
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
}

.source_code_btn, .live_btn:hover{
    cursor: pointer;
}

@media (max-width:860px){
    #projectCards_1_2, #projectCards_3{
        display: grid;
    }
    #brightline_clone{
        width: 70vw;
    }
    #zee5_clone{
        width: 70vw;
    }
    .project_img_div{
        height: 30vw;
    }
}
@media (max-width:382px){
    #brightline_clone{
        width: 80vw;
    }
    #zee5_clone{
        width: 80vw;
    }
    .project_img_div{
        height: 37vw;
    }
}
@media (max-width:305px){
    #brightline_clone{
        width: 85vw;
    }
    #zee5_clone{
        width: 85vw;
    }
    .project_img_div{
        height: 40vw;
    }
    .project_desc{
        font-size: 15px;
    }
    .members_days{
        font-size: 15px;
    }
    .source_code_btn, .live_btn{
        height: 30px;
        font-size: 15px;
    }
}