#to_stop_for_skills{
    height: 45px;
}
#skills_div{
    display: flex;
    gap: 30vw;
    justify-content: center;
    margin-top: 30px;
    /* border: 1px solid red; */
}
#frontend_skills{
    /* display: grid; */
    width: 250px;
    /* border: 1px solid blue; */
}

.tech_cards{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 15px;
    margin-top: 20px;
    background-color: #92bcb5;
    /* border: 1px solid yellow; */
    height: fit-content;
    border-radius: 5px;
}

#backend_skills{
    /* display: grid; */
    width: 250px;
    /* border: 1px solid orangered; */
}
/* #backend_skills div{
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: #92bcb5;
    border: 1px solid yellow;
    height: fit-content;
} */ 

.skills_type_title{
    display: flex;
    justify-content: center;
    background-color: white;
}
.outer_icon_div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 45px;
    height: 45px;
    border-radius: 3px;
}
.outer_icon_div img{
    width: 100%;
}

#tools_div{
    /* border: 1px solid green; */
    display: flex;
    gap: 30px;
    height: fit-content;
    justify-content: center;
}
/* #tools_div div{
    width: 100px;
    height: 100px;
} */
.tools_title{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#tools_title_div{
    font-size: 30px;
    margin-bottom: 10px;
} 
.individual_tool{
    display: grid;
    text-align: center;
    /* border: 1px solid red; */
    width: 90px;
    height: 90px;
    background-color: #92bcb5;
    padding-top: 8px;
    border-radius: 5px;
}
.individual_tool img{
    width: 40px;
    height: 40px;
}

@media (max-width:840px){
    #skills_div{
        gap: 22vw;
    }
}
@media (max-width:755px){
    #skills_div{
        gap: 10vw;
    }
}
@media (max-width:635px){
    #skills_div{
        gap: 5vw;
    }
}
@media (max-width:590px){
    #skills_div{
        display: grid;
    }
}