*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    /* min-height: 100vh; */
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(20, 20, 20, 0.75)),url(backgroundBlack3.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 15px 0;
    transition: all 0.3s ease;
}
.content{
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
}
.navbar.sticky{
    background: #1b1b1b;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
    /* Check whether will remain or not */
}
.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    transition: all ease .3s;
}
.navbar .logo a:hover{
    /* color: #009688; */
    color: #92bcb5;
}
.navbar .menu-list{
    display: inline-flex;
}
.menu-list li{
    list-style: none;
    position: relative;
    margin: 0 20px;
    display: inline-block;
}
.active_nav{
        background-color: #92bcb5;
        box-shadow: 0 0 .4rem rgba(0, 0, 0, .6);
}

/* I added (from)*/
.logo{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo>img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
.menu-list li::after{
    content: '';
    height: 3px;
    width: 0;
    /* background: #009688; */
    background: #92bcb5;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.menu-list li:hover:after{
    width: 100%;
}
/* I added (till)*/

.menu-list li a{
    color: #fff;
    font-size: 17.5px;
    font-weight: 500;
    /* margin-left: 25px; */
    text-decoration: none;
    transition: all 0.3s ease;
    text-transform: uppercase;
}
/* .menu-list li a:hover{
    color: #009688;
} */
.icon{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.menu-list .cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
}
.contentBelowNav{
    color: white;
    width: 100%;
    text-align: center;
    /* margin: auto; */
    /* margin-top: 10px; */
    position: absolute;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    transform: translateY(0%);
    display: flex;
    justify-content: center;
}
#HomePageImg{
    display: flex;
    justify-content: center;
}
#HomePageImg img{
    width: 200px;
    height: 195px;
    border-radius: 50%;
    margin-top: 15px;
}
#outerIconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    /* margin-bottom: 50px; */
    /* border: 2px solid orangered; */
    gap: 15px;
}
.innerContent{
    width: 60%;
    margin-top: 80px;
}
.contentBelowNav h3{
    font-size: 40px;
    /* margin-top: 80px; */
    /* margin-top: 50px; */
}
.contentBelowNav h4{
    font-size: 30px;
    margin-top: 10px;
}
.contentBelowNav p{
    font-size: 17px;
    margin: 20px auto;
    font-weight: 200;
    line-height: 25px;
    letter-spacing: .5px;
}
#iconHoler{
    /* background-color: rgb(222, 226, 227); */
    border-radius: 30px;
    /* padding-top: 8px;
    padding-bottom: 8px; */
    /* border: 2px solid #009688; */
    width: fit-content;
    height: fit-content;
}
#iconHoler ul
{
    margin: 0;
    padding: 0;
}
#iconHoler ul li
{
    list-style: none;
    display: inline-block;
}
#iconHoler ul li a
{
    position: relative;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    /* box-shadow: 0 10px 15px rgba(0,0,0,0.3); */
    box-shadow: 7px 15px 18px rgba(0,0,0,0.3);
    /* box-shadow: 0 7px 15px #009688; */
    /* background: linear-gradient(0deg, #ddd, #fff); */
    border: 1px solid #92bcb5;
    transition: .2s;
}
#iconHoler ul li a:hover
{
    /* background: linear-gradient(0deg, #ddd, #fff);
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    box-shadow: 0 2px 5px #fff;
    box-shadow: 0 2px 5px #009688; */
    /* background-color: black; */
    border: none;
}
#iconHoler ul li a .fa
{
    width: 100%;
    height: 100%;
    display: block;
    /* background: linear-gradient(0deg, #fff, #ddd); */
    border-radius: 50%;
    line-height: calc(50px - 12px);
    font-size: 28px;
    /* color: #262626; */
    /* color: #009688; */
    color: #92bcb5;
    
    transition: .7s;
}
#iconHoler ul li:nth-child(1) a:hover .fa
{
    color: #3b5999;
    background-color: #fff;
    /* border: 3px solid #92bcb5; */
    transform: scale(1.1);
}
#iconHoler ul li:nth-child(2) a:hover .fa
{
    /* color: #55acee; */
    /* color: black; */
    color: white;
    /* background-color: #fff; */
    transform: scale(1.6);
}
#iconHoler ul li:nth-child(3) a:hover .fa
{
    /* color: #dd4b39; */
    color: darkred;
    background-color: #fff;
    transform: scale(1.1);
}
/* #iconHoler ul li:nth-child(4) a:hover .fa
{
    color: #0077B5;

}
#iconHoler ul li:nth-child(5) a:hover .fa
{
    color: #e4405f;
} */
button{
    width: 200px;
    padding: 13px 0;
    text-align: center;
    /* margin-top:  20px; */
    border-radius: 25px;
    font-weight: bold;
    font-size: 17px;
    /* border: 2px solid #009688; */
    border: 2px solid #92bcb5;
    background: transparent;
    color: white;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
span{
    /* background: #009688; */
    background: #92bcb5;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    z-index: -1;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
.section_container{
    text-align: center;
}
.section_container h2{
    color: brown;
    font-size: 50px;
}
#about{
    background-color: #ddd;
    width: 100%;
    height: 100vh;
}
#skills{
    background-color: #ddd;
    width: 100%;
    height: 100vh;
}
#projects{
    background-color: #ddd;
    width: 100%;
    height: 100vh;
}
#contact{
    background-color: #ddd;
    width: 100%;
    height: 100vh;
}
@media (max-width: 1230px) {
.content{
    padding: 0 60px;
}
}
@media (max-width: 1100px) {
.banner{
    height: 120vh;
}
.content{
    padding: 0 40px;
}
}
@media (max-width: 900px) {
.content{
    padding: 0 30px;
}
}
@media (max-width: 868px) {
.banner{
    height: 125vh;
}
body.disabled{
    overflow: hidden;
}
.icon{
    display: block;
}
.icon.hide{
    display: none;
}
.navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
}
.navbar.show .menu-list{
    left: 0%;
}
.navbar .menu-list li{
    margin-top: 45px;
}
.navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navbar.show .menu-list li a{
    margin-left: 0px;
}
}
@media (max-width: 868px) {
    .banner{
        height: 133vh;
    }
    #outerIconContainer{
        display: grid;
    }
}
@media (max-width: 708px) {
    .innerContent h3{
        font-size: 35px;
    }
    .innerContent h4{
        font-size: 25px;
    }
}
@media (max-width: 697px) {
    .banner{
        height: 138vh;
    }
}
@media (max-width: 620px) {
   
    .innerContent h3{
        font-size: 30px;
    }
    .innerContent h4{
        font-size: 20px;
    }
    .contentBelowNav p{
        font-size: 15px;
    }
}
@media (max-width: 531px){
    .innerContent{
        width: 65%;
    }
}
@media (max-width: 490px){
    .innerContent{
        width: 80%;
    }
}
@media (max-width: 398px){
    .innerContent h3{
        font-size: 28px;
    }
    .innerContent h4{
        font-size: 18px;
    }
    .contentBelowNav p{
        font-size: 14px;
    }
}
@media (max-width: 380px) {
.navbar .logo a{
    font-size: 27px;
}
.innerContent h3{
    font-size: 26px;
}
.innerContent h4{
    font-size: 16px;
}
}
